<!doctype html>
<html lang="en">
<head>
    <title>{{meta_title}}</title>
    
    <meta charset="UTF-8">
    <meta name="description" content="{{meta_description}}" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />   

    <link rel="stylesheet" href="/assets/css/normalize.css">     
    <link rel="stylesheet" href="/assets/css/main.css">
    
    <link rel="stylesheet" href="/assets/css/jquery.darkbox.css">
    <link rel="stylesheet" href="http://fotorama.s3.amazonaws.com/4.4.9/fotorama.css">
    
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    {{{body}}}

    {{ghost_foot}}
    
    <script src="/assets/js/SmoothScroll.js"></script>  
    <script src="/assets/js/jquery.darkbox.min.js"></script> 
    <script src="http://fotorama.s3.amazonaws.com/4.4.9/fotorama.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="//use.edgefonts.net/raleway.js"></script>
</body>
</html>