<!doctype html>
<html lang="en">
<head>
    <title>{{meta_title}}</title>
    
    <meta charset="UTF-8">
    <meta name="description" content="{{meta_description}}" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />   
  
    <link rel="stylesheet" href="/assets/dist/css/main.css">
    
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    {{{body}}}

    {{ghost_foot}}
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/assets/dist/js/main.js"></script>
    <script src="//use.edgefonts.net/raleway.js"></script>
</body>
</html>