{{!< default}}
             
{{> header}}
  
<section class="hero">
  <div class="container">
    <h1>Rachel Salmon</h1>
    <h2>Graphic Designer</h2>
  </div>
</section>

<section class="examples">
  <div class="container">
  {{#foreach posts}}
  <article class="example">
    <a href="{{url}}">
      <div class="photo-thumbnail">
        <div class="photo-content-temp">{{content}}</div>
        <div class="photo-thumbnail-loading-progress">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
      </div>
    </a>
    <div class="example-details">
      <a href="{{url}}">
        <h2 class="post-title">{{title}}</h2>
      </a>
      {{#if tags}}
      <span class="tags">
        {{tags}}
      </span>
      {{/if}}
    </div>
  </article>
  {{/foreach}}
  </div>
</section>
  {{#if pagination}}
    {{pagination}}
  {{/if}}

<section class="testimonial">
  <div class="container">
    <blockquote>
      <p>“Rachel worked closely with me&hellip; Her approach was incredibly professional. She produced a wonderful logo that can be used flexibly, her fees were competitive and she delivered on schedule. I will definitely work with her again.”</p>
      <p class="client">Jane Rich,<br/>Cambridge Community Arts</p>
    </blockquote>
  </div>
</section>

{{> footer}}